<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>-->
  <configSections>
    <sectionGroup name="spring" >
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" >
      <object name="MyDao" type ="Injection_de_dépendance.Dao.ImplDao1, Injection_de_dépendance.Dao" singleton="false">
      </object>
      <object name="MyMetier" type ="Injection_de_dépendance.Metier.ImplMetier, Injection_de_dépendance.Metier"
              singleton="false">
        <property name="ImplDao1" ref="MyDao"/>
      </object>
    </objects>
  </spring>


 
  
  
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>-->
</configuration>